.tarjeta_equipo {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjeta_equipo-img {
    background-color: var(--colorAcento);
    width: 100%;
    border-radius: 16px 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.tarjeta_equipo-avatar {
    width: 50%;
    border-radius: 50%;
}

.tarjeta_equipo-txt {
    background-color: var(--colorNegro);
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border: 2px solid var(--colorAcento);
    border-radius: 0 0 16px 16px;
}