.tarjeta__imagen{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.tarjeta{
    width: 300px;
    background-color: var(--colorNegro);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjeta__descripcion{
    background-color: var(--colorNegro);
    border: 2px solid var(--colorAcento);
    border-radius: 0 0 1rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.tarjeta__promocion{
    background-color: var(--colorVerde);
    width: 4.5rem;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}