.box {
    height: 40vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid aqua;
    border-radius: 2rem;
    box-shadow: 0px 0px 25px 0px aqua;
    padding: 1rem;

}

h1 {
    color: aqua;
    font-size: 6rem;
}