.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 0;
}

.container_btn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}

.tarjeta__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

ul{
  list-style: none;
}

h2 {
  font-family: var(--fontH1);
  font-size: 1rem;
  font-weight: 400;
  color: var(--colorBlanco);
}

h3 {
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--colorBlanco);
}

p {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 400;
  color: var(--colorBlanco);
}