:root {

  color: #f2eeed;
  background-color: #070505;

  --fontH1: "Boldonse", system-ui;
  --font: "Lato", sans-serif;
  --colorNegro: #070505;
  --colorBlanco: #f2eeed;
  --colorAcento: #4f243c;
  --colorRojo: #af220b;
  --colorVerde: #1c541d;

}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}